@import './lbr/body.css';
@import './lbr/header.css';
@import './lbr/home.css';
@import './lbr/footer.css';
@import './lbr/upcoming.css';
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat_SemiBold;
    src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat_Light;
    src: url(../../assets/fonts/Montserrat/Montserrat-Light.ttf);
}