*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --header-outer-height: 100px;
    --header-inner-height: 70px;
    --header-height-difference: calc( var(--header-outer-height) - var(--header-inner-height));
    --header-bg: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #f2f5f7;
    line-height: 1.5;
    position: relative;
    height: 100%;
}

.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}