/* Sticky header */

.header-outer {
    /* Make it stick */
    height: var(--header-outer-height);
    position: sticky;
    top: calc( var(--header-height-difference) * -1);
    /* Multiply by -1 to get a negative value */
    display: flex;
    align-items: center;
    /* Other */
    background-color: #000111;
    backdrop-filter: blur(6px);
}

.header-inner {
    /* Make it stick */
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    /* Other */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Styling of other elements */

.header-logo img {
    display: block;
    height: calc(var(--header-inner-height) - 20px);
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.header-navigation .pages,
.menu {
    font-size: 1.125rem;
    color: inherit;
    margin: auto 0 auto 4rem;
    position: relative;
    font-weight: 500;
}

.header-navigation .pages {
    display: none;
    font-size: 1.125rem;
    color: inherit;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

.menu {
    border: 0;
    background-color: transparent;
    padding: 0;
    color: white;
}

.header-navigation .pages:hover:before,
.menu:hover:before {
    display: block;
    opacity: 100;
}

.header-navigation .pages::before {
    transition: 0.5s ease-in-out;
    content: "";
    opacity: 0;
    background-image: url("../../img/effect/polygon.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 28px;
    left: -6px;
    top: 6px;
}

.menu::before {
    transition: 0.25s ease;
    content: "";
    opacity: 0;
    background-image: url("../../img/effect/polygon.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 28px;
    left: -14px;
    top: -2px;
}

.language-select {
    margin-left: 4.00rem;
    position: relative;
    font-weight: 500;
    display: none !important;
    right: 100;
}

.language-select>button {
    color: white;
}

.language-select:hover>button {
    color: white;
}

@media (min-width: 1000px) {
    .header-navigation .pages {
        display: inline-block;
    }
    .menu {
        display: none;
    }
    .language-select {
        display: inline-flex !important;
    }
}