.bg-home {
    /* The image used */
    background-image: url("../../img/background/bg_home.png");
    /* background-image: url("../../img/background/bg.png"); */
    /* background: #FFFFFF; */
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
}

.overlay-home {
    background-image: linear-gradient(to right, #000111, #000111f8, #00011179, rgba(253, 253, 253, 0));
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.see-more::before {
    transition: 0.5s ease;
    content: "";
    background-image: url("../../img/effect/polygon-triange.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 80px;
    height: 70px;
    z-index: -1;
    left: -40px;
    top: -26px;
}

.container-seemore:hover .see-more {
    transition: 0.5s ease;
    left: 100px;
}

.container-seemore:hover .see-more::before {
    transform: rotate(90deg);
    top: -20px;
}

@media (max-width: 500px) {
    .overlay-home {
        justify-content: center;
    }
}